table,
th,
td {
  border: 1px solid;
}

.default-body {
  background-color: rgb(238, 247, 187);
}

.job-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-option input[type="radio"] {
  margin-right: 10px;
}

.job-description {
  margin-left: 10px;
}

.large-text-wrap {
  inline-size: 500px;
}

/* TODO: Add your primary and secondary styling below! */
.primary-button {
  background-color: khaki;
  border-style: double;
  border-radius: 5px;
  padding: 10px;
}

.secondary-button {
  background-color: beige;
  border-style: double;
  border-radius: 5px;
  padding: 10px;
}
